---
import Footer from '@components/Footer.astro';
import BaseHead from '@components/BaseHead.astro';
import ThemeSwitcher from '@components/ThemeSwitcher';
import MainNavigation from '@components/MainNavigation.astro';
import ThoughtHeader from '@components/thoughts/ThoughtHeader.astro';
import ThoughtAuthor from '@components/thoughts/ThoughtAuthor.astro';
import CrumbsSnippet from '@components/CrumbSnippet.astro';

import "@styles/theme.css"
import "@styles/general.css"
import ConsoleBanner from '@components/ConsoleBanner';

export interface Props {
	title: string;
	description: string;
	keywords: string[];
	image: string;
}

const { title, description, keywords, image } = Astro.props;
---
<!DOCTYPE html>
<html lang="en" class="thoughts-list-page">
	<head>
		<BaseHead 
			title={title} 
			description={description} 
			keywords={keywords} 
			image={image}
		/>
	</head>
	<body>
        <div class="thoughts-wrapper">
            <ThoughtHeader listing={true} />
            <aside class="thought-sidebar">
				<ThoughtAuthor />
				<MainNavigation space={"thoughts"} />
				<ThemeSwitcher client:load />
            </aside>
			<slot />
			<div class="clearfix" />
		</div>
		<Footer />
		<CrumbsSnippet crumbs={[{ "/thoughts/": "Thoughts" }]} />
		<ConsoleBanner client:only />
  </body>
</html>
